<% include partials/header.ejs %>  

<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4"></div>
	<div class="col-xs-4"></div>
</div>

<a href="<%= eventsList.venue.url%>"><h2><%= eventsList.venue.name %><h2></a>
<h4><%= eventsList.venue.city %> <%= eventsList.venue.region %> </h4>
<strong>Showtime: </strong>
<p><%= eventsList.datetime %><p>

<strong>Artist:</strong>
<% eventsList.artists.forEach(function(artist){ %>
	<p><a href="<%=artist.url%>"><%= artist.name %></p></a>
	<% }) %>

<strong>Event Url:</strong> 
<p><a href="<%= eventsList.url %>"><%= eventsList.url %></a></p>

<strong>Ticket Status:</strong> 
<p><%= eventsList.ticket_status %></p>
<a class="btn btn-default" href="<%= eventsList.ticket_url %>">Buy Tickets</a>

<form method="post" action="/mylist">
	<input type="hidden" name="myList" value="<%= JSON.stringify(eventsList) %>">

	<input class="btn btn-default" type="submit" value="Save To My List">
</form>


<% include partials/footer.ejs %>
