<% include partials/header.ejs %>  
    
<div class="jumbotron">
	<div id='map'></div>
</div>

<div class="row text-center">
	<div class="col-xs-4"></div>
	<div class=" venue-text col-xs-4">
		<a style="color: black" href="<%= eventsList.venue.url%>"><h1><%= eventsList.venue.name %><h1></a>

	</div>
	<div class="col-xs-4"></div>
</div>

<div class="row text-center">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
	<h3><%= usefulDate %></h3>
	<h3><%= usefulTime %></h3>
	<h4><%= eventsList.venue.city %> <%= eventsList.venue.region %> </h4>
	<p><a href="<%= eventsList.url %>">See event page</a>
	</div>
	<div class="col-xs-4"></div>
</div>

<div class="row text-center">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<h3>Artist</h3>
			<% eventsList.artists.forEach(function(artist){ %>
			<p><a href="<%=artist.url%>"><%= artist.name %></p></a>
			<% }) %>
	</div>
	<div class="col-xs-4"></div>
</div>

<div class="row text-center">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<h3>Ticket Status</h3>
		<% var status = eventsList.ticket_status %>
		<% var statusUpperCase = status.toUpperCase(); %>
		<p><%= statusUpperCase %></p>
		<a class="btn btn-success btn-block" href="<%= eventsList.ticket_url %>">Buy Tickets</a>
	</div>
	<div class="col-xs-4"></div>
</div>

<div class="row text-center">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<form method="post" action="/create">
			<% if(isAuthenticated) {%>
			<%= isCreated %>
			<input type="hidden" name="myList" value="<%= JSON.stringify(eventsList) %>">
			<input class="btn btn-danger btn-block margin-top" type="submit" value="Save To My List">
			<% } else{ %>
			<input class="btn btn-default btn-block margin-top" disabled="disabled" type="submit" value="Save To My List">
			<% } %>
		</form>
	
	</div>
	<div class="col-xs-4"></div>
</div>


<% include partials/footer.ejs %>
<% include partials/event_map_script.ejs %>



