<% include partials/header.ejs %>  

<a href="<%= eventsList.venue.url%>"><h3><%= eventsList.venue.name %><h3></a>
<h4><%= eventsList.venue.city %> <%= eventsList.venue.region %> </h4>
<strong>Showtime: </strong>
<p><%= eventsList.datetime %><p>

<strong>Artist:</strong>
<% eventsList.artists.forEach(function(artist){ %>
	<p><a href="<%=artist.url%>"><%= artist.name %></p></a>
	<% }) %>

<strong>Event Url:</strong> 
<p><a href="<%= eventsList.url %>"><%= eventsList.url %></a></p>

<strong>Ticket Status:</strong> 
<p><%= eventsList.ticket_status %></p>
<a class="btn btn-default" href="<%= eventsList.ticket_url %>">Buy Tickets</a>

<form method="post" action="/mylist">
	<input type="hidden" name="myList" value="<%= JSON.stringify(eventsList) %>">

	<input class="btn btn-default" type="submit" value="Save To My List">
</form>

<% include partials/footer.ejs %>
