<% include partials/header.ejs %>   
    
  <div class="jumbotron">
    <div id='map'></div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <h2><%=usefulDate %></h2>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
  </div>

	<div class="row">
    <div class="col-xs-4">
      <% eventsList.forEach(function(event){ %>
          <a href="event/<%= event.venue.id %>/<%= event.id %>">
            <div class="resuts-header">
              <h4><%=event.venue.name %> | 
                <span class="city">
                  <%=event.venue.city %>, <%=event.venue.region %>
                </span>
              </h4>
            </div>
              <% event.artists.forEach(function(artist){ %>
              <p class= "artist-results">
                <%=artist.name %>
              </p>
                <% }) %>
              <% }) %>
          </a>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>	
  </div>

<% include partials/footer.ejs %>  
<% include partials/map_script.ejs %>  